
@{
    ViewBag.Title = "Quem Somos";
}

<section class="titulo">
    <h2>QUEM SOMOS</h2>
</section>

<section>
    <p>A GoodEyes trabalha para reunir em um só lugar marcas renomadas a preços acessíveis e serviços especializados para o consumidor.Trabalhamos para ser o melhor e-commerce brasileiro, sempre com foco na experiência e satisfação do consumidor.</p>

    <p>Desejamos que você faça ótimas compras! E, se caso não encontre o que está procurando, ou tenha alguma dúvida, entre em contato conosco pela Central de relacionamento. Nosso atendimento pode ser feito por e-mail e telefone.</p>
</section>