
@{
    ViewBag.Title = "Acesso Negado";
}

<section id="erro">
    <div id="errocont">
        <div class="col1">
            <h1>ACESSO NEGADO</h1>

            <p>Você não tem acesso a essa página. Entre em contato em suporte@goodeyes.com.br</p>

            <a href="/Home/Index" id="btnhome"> IR PARA A HOME</a>
        </div>

        <div class="col2">
            <img src="~/imagens/erroGold.png">
        </div>
    </div>
</section>

@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $("footer").css("margin", "0");
            $("footer").css("background-color", "#fff");
        });
    </script>
}  